.main{
  margin-top: 30px;
  .titlebox_{
    margin: 0 20px;
  }
  .logobox{
    margin-top: 150px;
    width: 150px;
    height: 150px;
    border:1px solid #ccc;
    border-radius: 4px;
    background: #fff
  }
  .Login{
    font-size: 36px;
    margin: 0 20px
  }
  .h1{
    font-size: 40px;
    color:#000000;
    margin-top: 30px;
    margin-bottom: 125px;
    font-weight: bold
  }
  
  .spanflex{
    position: relative;
    color:#4389FF;
    font-size: 28px;
    margin-top: 30px;
    a{
      color:inherit
    }
  }
  .buttonbox{
    margin-top: 100px;
    font-size: 44px;
  }
  .formbox{
    margin: 0 30px;
    cite{
      position: relative;
      display: block;
      margin-bottom: 30px
    }
    .icon_box{
      width: 44px;
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 8;
    }
  }
  .firstspan::after{
    content: '';
    background: #DDDDDD;
    width: 2px;
    height: 30px;
    position: absolute;
    right: -280%;
    // margin-right: -1px
  }
  .inputbox{
    text-indent: 70px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-variant: tabular-nums;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    position: relative;
    display: inline-block;
    width: 100%;
    height: 90px;
    padding: 0 20px;
    color: rgba(0,0,0,0.65);
    line-height: 32px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    transition: all .3s;
    &::placeholder{
      color:#DDDDDD
    }
    &:focus {
      border-color: #40a9ff;
      border-right-width: 1px !important;
      outline: 0;
      -webkit-box-shadow: 0 0 0 2px rgba(24,144,255,0.2);
      box-shadow: 0 0 0 2px rgba(24,144,255,0.2);
    }
  }
}
