.main{
  .middletitle{
    padding: 30px 0
  }
  .onlyInput{
    text-align: center;
    letter-spacing: 50px
  }
  .titlebox{
    margin-top: 70px;
    font-size: 32px;
  }
  .compostbtn{
    width: 100%;
    margin: 70px auto 50px;
    font-size: 34px;
    height: 75px;
    line-height: 75px;
    overflow: hidden;
  }
  .imgcode{
    position: absolute;
    right: 10px;
    top: 80px;
    width: 180px;
    height: 70px;
    z-index: 8;
    background: red
  }
  .padtopbox{
    padding: 35px 0 5px;
  }
  .errorbox{
    font-size: 22px;
    position: absolute;
    color:#F56E5C;
    font-style: normal;
    left: 0;
    bottom: -35px;
    font-weight: normal
  }
  .checkboxlist{
    margin-top: 40px
  }
  .phonedetails{
    color:#4389FF;
    font-size: 30px;
    letter-spacing: 1px;
    margin: 15px 0 30px ;
  }
  // :global(.am-checkbox-checked){
  //   .am-checkbox-inner{
  //     &::after{
  //         content: '';
  //         top: 5px;
  //         left: 8px;
  //         width: 7px;
  //         height: 13px;
  //     }
  //   }
  // }
  // :global(.am-checkbox){
  //   .am-checkbox-inner{
  //     background: red
  //   }
  // }
  
  :global(.am-checkbox-inner){
   // 设置 checkbox 的大小
   width: 30px;
   height: 30px;
  //  background: #dddddd;
   // 设置对勾的 大小 和 位置
   &::after{
       content: '';
       top: 5px;
       left: 8px;
       width: 7px;
       height: 13px;
   }
  }
  :global(.am-checkbox-agree){
    margin-left: 10px
  }
  :global(.am-checkbox-agree .am-checkbox-agree-label){
    margin-left: 40px
  }
  .aggrenbox{
    font-size: 12px;
    i{
      font-size: 26px;
      font-style: normal;
    }
    b{
      color:#4389FF;
      font-weight: normal;
      margin-left: 40px;
      font-size: 26px;
      
    }
  }
  .logobox{
    margin-top: 150px;
    width: 150px;
    height: 150px;
    border-radius: 8px;
    overflow: hidden;
    // border:1px solid rgba(31, 115, 255, 1);
    // box-shadow: 0 0 8px 9px #aacbff;
    img{
      max-width: 100%;
      width: 100%;
    }
  }
  .Login{
    font-size: 36px;
    margin: 0 20px
  }
  .h1{
    font-size: 40px;
    color:#000000;
    margin-bottom: 125px;
    font-weight: bold
  }
  .spanflex{
    color:#4389FF;
    font-size: 28px;
    margin-top: 30px;
    a{
      color:inherit
    }
  }
  .buttonbox{
    background: #4389FF;
    margin-top: 100px;
    font-size: 40px
  }
  .formbox{
    margin: 0 30px;
    cite{
      position: relative;
      display: block;
      margin-bottom: 30px
    }
    .icon_box{
      width: 44px;
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 8;
    }
    .lastcite{
      margin-bottom: 20px
    }
  }
  .inputbox{
    text-indent: 70px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-variant: tabular-nums;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    position: relative;
    display: inline-block;
    width: 100%;
    height: 90px;
    padding: 0 20px;
    color: rgba(0,0,0,0.65);
    line-height: 32px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    transition: all .3s;
    &::placeholder{
      color:#DDDDDD
    }
    &:focus {
      border-color: #40a9ff;
      border-right-width: 1px !important;
      outline: 0;
      -webkit-box-shadow: 0 0 0 2px rgba(24,144,255,0.2);
      box-shadow: 0 0 0 2px rgba(24,144,255,0.2);
  }
  }
  .loadingbox {
    min-width: 60px;
    border-radius: 3px;
    color: #fff;
    background-color: rgba(58,58,58,.9);
    line-height: 1.5;
    min-width: 150px;
    padding:18px 45px;
    border-radius: 5px;
    img{
      width: 80px;
      height: 80px;
      display: block;
      margin: 0 auto 10px;
    }
    span{
      font-size: 28px;
      display: block;
    }
  }
  .popoMask {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    transform: translateZ(1px);
    position: fixed;
    width: 100%;
    z-index: 1999;
    font-size: 14px;
    text-align: center;
}
.modealboxlist{
  .inputboxs{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-variant: tabular-nums;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    position: relative;
    display: inline-block;
    width: 100%;
    height: 90px;
    padding: 0 20px;
    color: rgba(0,0,0,0.65);
    line-height: 32px;
    background-color: #fff;
    background-image: none;
    border: 0;
    border-bottom: 1px solid #DDDDDD;
    border-radius: 0;
    transition: all .3s;
    &::placeholder{
      color:#DDDDDD
    }
    &:focus {
      border-color: #40a9ff;
      border-right-width: 0px !important;
      outline: 0;
      box-shadow: 0 
  }
  }
}
}
