.main{
  .footerbox{
    font-size: 26px;
    border-top: 1px solid #EEEEEE;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background: #fff;
    padding: 10px 0 5px;
    text-align: center;
    color:#dddddd;
    .active{
      color:#000000
    }
    .iconbox{
      width: 50px;
      height: 50px;
      margin-bottom: 8px;
      img{
        max-width: 100%;
      }
    }
  }
}