.main{
  margin: 0 25px;
  .problem{
    margin: 0;
    font-size: 40px;
    padding:20px 0 25px;
  }
  h1{
    margin-bottom: 0px;
    color:#333333;
    font-size: 28px;
    margin-bottom: 8px;
  }
  p{
    color: #999999;
    font-size: 26px;
    line-height: 1.7;
    margin-bottom: 40px;
    b{
      display: block;
      font-weight: normal
    }
  }
}
